{% if not item.credentials or is_granted(item.credentials) %}
  <li class="{{ item.class }}{% if item.selected %} active{% endif %}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
    <a href="{{ item.link }}" class="{{ item.anchorClass }}">
      {% if item.icon %}
        <em class="{{ item.icon }}" aria-hidden="true"></em>
      {% endif %}
      {{ item.name|trans|capitalize }}
    </a>
  </li>
{% endif %}