{% spaceless %}
  {% if not item.credentials or is_granted(item.credentials) %}
    <li class="{{ item.class }} {% if item.selected %} active{% endif %}{% if loop.first %} first{% endif %}
    {% if loop.last %} last{% endif %}" {% for key,value in item.attr %}{{ key }}="{{ value }}"{% endfor %}>
    <a href="{{ item.link }}" class="{{ item.anchor_class }}"
    {% for key,value in item.anchor_attr %}{{ key }}="{{ value }}"{% endfor %}>
    {% if item.icon %}
      <em class="{{ item.icon }}" aria-hidden="true"></em>
    {% endif %}
    {% if menu.use_span %}<span>{% endif %}{{ item.name|trans|capitalize }}{% if menu.use_span %}</span>{% endif %}
    </a>
    </li>
  {% endif %}
{% endspaceless %}